<h1>websites</h1>

<table>

<% for website in @websites %>
  <tr>
	  <td><%= link_to_name website %></td>
    <td><%= link_to website.href, website.href %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :website %>
