<h1>aliases</h1>

<table>

<% for a in @aliases %>
  <tr>
    <td><%= link_to_name a %></td>
    <td><%= link_to_name a.service %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :alias %>
