<h1>aliases</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Service</th>

  </tr>

<% for a in @aliases %>
  <tr>
    <td><%= link_to_name a %></td>
    <td><%= link_to_name a.service %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alias', new_alias_path %>
