<h1>zips</h1>

<table>
  <tr>
    <th>code</th>
    <th>city</th>
    <th>state</th>

  </tr>

<% for zip in @zips %>
  <tr>
    <td><%= link_to_name zip %></td>
    <td><%= link_to_name zip.city %></td>
    <td><%= link_to_name zip.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :zip %>
