<h1>address_uses</h1>

<table>
  <tr>
    <th>address/unit</th>
    <th>target</th>

  </tr>

<% for address_use in @address_uses %>
  <tr>
    <td><%= link_to_name address_use.location %></td>
    <td><%= link_to_name address_use.target %></td>

    <td><%= link_to 'show', address_use %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :address_use %>
