<h1>phone_uses</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Target</th>

  </tr>

<% for phone_use in @phone_uses %>
  <tr>
    <td><%= link_to_name phone_use.phone %></td>
    <td><%= link_to_name phone_use.target %></td>

    <td><%= link_to 'show', phone_use %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :phone_use %>
