/*
Sass::SyntaxError: Undefined constant: "!n".
on line 216 of /Users/michaelschwab/projects/who_you_gonna_call/public/stylesheets/sass/sass-base.sass

212:   float: left
213:   @if !n != max
214:     @if !!last
215:       margin-right: 10px
216:       width = !n - 10px
217:     @if !last
218:       margin-right: 0px
219:       width = !n
220:   @if !n == max
221:     margin-right: 0px
222:     width = !containerWidth


Backtrace:
/Users/michaelschwab/projects/who_you_gonna_call/public/stylesheets/sass/sass-base.sass:216
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/constant.rb:209:in `get_constant'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/constant.rb:192:in `operationalize'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/constant.rb:197:in `operationalize'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/constant.rb:45:in `parse'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:329:in `parse_attribute'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:306:in `parse_line'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:187:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:237:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:379:in `parse_mixin_definition'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:297:in `parse_line'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:187:in `build_tree'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:116:in `render_to_tree'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/engine.rb:88:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:65:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:53:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin.rb:53:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.0.5/lib/sass/plugin/rails.rb:16:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/base.rb:392:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:183:in `handle_request'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:110:in `dispatch_unlocked'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:123:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:122:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:122:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:132:in `dispatch_cgi'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.2.1/lib/action_controller/dispatcher.rb:39:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:76:in `process'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `process'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:282:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `each'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:128:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel/command.rb:212:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:281
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:142:in `load_without_new_constant_marking'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:142:in `load'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:515:in `new_constants_in'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:142:in `load'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.2.1/lib/commands/servers/mongrel.rb:64
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:153:in `require'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:515:in `new_constants_in'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-2.2.1/lib/active_support/dependencies.rb:153:in `require'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.2.1/lib/commands/server.rb:49
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined constant: \"!n\".\A on line 216 of /Users/michaelschwab/projects/who_you_gonna_call/public/stylesheets/sass/sass-base.sass\A \A 212:   float: left\A 213:   @if !n != max\A 214:     @if !!last\A 215:       margin-right: 10px\A 216:       width = !n - 10px\A 217:     @if !last\A 218:       margin-right: 0px\A 219:       width = !n\A 220:   @if !n == max\A 221:     margin-right: 0px\A 222:     width = !containerWidth\A "; }
