<h1>streets</h1>

<table>
  <tr>
    <th></th>
    <th>city</th>

  </tr>

<% for street in @streets %>
  <tr>
    <td><%= link_to_name street %></td>
    <td><%= link_to_name street.city %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New street', new_street_path %>
