<h1>email_uses</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Target</th>

  </tr>

<% for email_use in @email_uses %>
  <tr>
    <td><%= link_to_name email_use.email %></td>
    <td><%= link_to_name email_use.target %></td>

    <td><%= link_to 'show', email_use %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New email_use', new_email_use_path %>
