<h1>alias_uses</h1>

<table>

<% for alias_use in @alias_uses %>
  <tr>
    <td><%= link_to_name alias_use.alia %></td>
    <td><%= link_to_name alias_use.target %></td>

    <td><%= link_to 'show', alias_use %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :alias_use %>
