<h1>alias_uses</h1>

<table>
  <tr>
    <th>alias</th>
    <th>target</th>

  </tr>

<% for alias_use in @alias_uses %>
  <tr>
    <td><%= link_to_name alias_use.alias %></td>
    <td><%= link_to_name alias_use.target %></td>

    <td><%= link_to 'show', alias_use %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New alias_use', new_alias_use_path %>
