<h1><%= link_to_name(@scope_object) + ':' if @scope_object %>cities</h1>

<table>
<% for city in @cities %>
  <tr>
    <td><%= link_to_name city %></td>
    <td><%= link_to_name city.state unless @state %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :city %>
