<h1>cities</h1>

<table>
  <tr>
    <th></th>
    <th>state</th>

  </tr>

<% for city in @cities %>
  <tr>
    <td><%= link_to_name city %></td>
    <td><%= link_to_name city.state %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new city', new_city_path %>
