<h1>establishments</h1>

<table>

<% for establishment in @establishments %>
  <tr>
    <td><%= link_to_name establishment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new establishment', new_establishment_path %>
