<h1>establishments</h1>

<table>

<% for establishment in @establishments %>
  <tr>
    <td><%= link_to_name establishment %></td>
  </tr>
<% end %>
</table>

<br />

<%= scoped_new_link :establishment %>
