<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>treat women well</title>
  <%= stylesheet_link_tag 'who_you_gonna_call' %>
</head>
<body>
	<% %w[ people calls rendezvouzs details messages txts parties guests websites aliases phones services emails establishments cities visits streets addresses units states address_uses website_uses alias_uses email_uses phone_uses countries zips users authorizations ].each do |m| %>
	  <%= link_to m, "/#{m}" %>
	<% end %>
	<%= yield %>
</body>
<html>