<h1>rendezvouzs</h1>

<table>

<% for rendezvouz in @rendezvouzs %>
  <tr>
    <td><%= link_to time_ago_in_words(rendezvouz.time), rendezvouz %></td>
    <td><%= link_to_name rendezvouz.target %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'plan a rendezvouz', new_rendezvouz_path %>
