<p>
  <b>time:</b>
  <%=h @rendezvouz.time.strftime("%I:%M %p %A %m/%d") %>
</p>

<p>
  <b>location:</b>
  <%= link_to_name @rendezvouz.target %>
</p>

<%= link_to 'Edit', edit_rendezvouz_path(@rendezvouz) %> |
<%= back_link %>
